li {
    list-style: none;
}

#connection {
    font-family: open-sans, sans-serif;
    color: white;
    position: relative;
}

#writeNote {
    display: none;
    margin: -100px 0px;

}

#main {
    display: none;
    margin: 75px 0px;
}

.intro-header {
    background-color: #808080;
    background: no-repeat center center;
    background-attachment: scroll;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 50px;
    margin-bottom: 100px;
}

.intro-header .site-heading,
.intro-header .post-heading,
.intro-header .page-heading {
    padding: 100px 0 50px;
    color: white;
}

@media only screen and (min-width: 768px) {
    .intro-header .site-heading,
    .intro-header .post-heading,
    .intro-header .page-heading {
        padding: 100px 0;
    }
}

.intro-header .site-heading,
.intro-header .page-heading {
    margin-top: -20px;
    height: 200px;
}

.intro-header .site-heading h1,
.intro-header .page-heading h1 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 0;
    font-size: 50px;
}

.intro-header .site-heading .subheading,
.intro-header .page-heading .subheading {
    font-size: 24px;
    line-height: 1.1;
    display: block;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 300;
    margin: 10px 0 0;
}

@media only screen and (min-width: 768px) {
    .intro-header .site-heading h1,
    .intro-header .page-heading h1 {
        font-size: 50px;
    }
}

#addNote {
    background-color: aqua;
    border: none;
}

.btn {
    border-radius: 15px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    border-radius: 0;
    padding: 15px 25px;
}

.btn-lg {
    font-size: 24px;
    font-family: open-sans;
}

.btn-default:hover,
.btn-default:focus {
    background-color: #0085a1;
    border: 1px solid #0085a1;
    color: white;
}

.pager {
    margin: 20px 0 0;
}

.pager li > a,
.pager li > span {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1px;
    padding: 15px 25px;
    background-color: white;
    border-radius: 0;
}

.pager li > a:hover,
.pager li > a:focus {
    color: white;
    background-color: #0085a1;
    border: 1px solid #0085a1;
}

.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
    color: #808080;
    background-color: #404040;
    cursor: not-allowed;
}

footer {
    height: 10vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.copyright {
    color: aliceblue
}