#onePage {
    height: 100vh;
    display: block;
}

#connection {
    font-family: open-sans, sans-serif;
    color: white;
    position: relative;
}


#writeNote {
    display: none;
}

#main {
    height: 100vh;
    display: none;
}

.intro-header {
	  background-image: url('../img/84e36d1e966b783101d65d3bb7e1d745.jpg');
}

footer {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copyright {
    color: aliceblue
}
